.nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgb(75, 0, 0);
    box-shadow: 0 4px rgb(255, 139, 139);
    color: white;
    width: 100%;
}

.name{
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.elements{
    margin-right: 50px;
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.button{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.active{
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-bottom: solid rgb(206, 0, 0) 3px;
}