.nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgb(75, 0, 0);
    box-shadow: 0 4px rgb(255, 139, 139);
    color: white;
    width: 100%;
    height: 70px;
}


.name {
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}

.elements {
    margin-right: 50px;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.button:hover {
    color: white;
}

p {
    margin: 0px;
}

.icons {
    width: 40px;
    height: 40px;
}

@media(max-width: 425px) {
    .nav {
        width: 425px;
        height: 50px;
        justify-content: space-around;
        position: relative;
    }

    .name {
        font-size: 20px;
        margin: 0px;
    }

    .elements {
        align-items: center;
        justify-content: space-around;
        width: 250px;
        margin-right: 0px;
    }

    .pNav {
        display: none;
    }

    .icons {
        width: 30px;
        height: 30px;
    }
}