.nav {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgb(75, 0, 0);
    color: white;
    width: 100%;
    box-shadow: 0 -4px rgb(255, 139, 139);
}

.name {
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}

.elements {
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.github {
    color: white;
    padding: 5px;
    transition: 1s;
    width: 40px;
    height: 40px;
}

.github:hover {
    color: black;
    transition: 0.5s;
}

.linkedin {
    color: white;
    padding: 5px;
    transition: 0.5s;
    width: 40px;
    height: 40px;
}

.linkedin:hover {
    color: #0e76a8;
    transition: 0.5s;
    width: 40px;
    height: 40px;
}

.gmail {
    color: white;
    padding: 5px;
    transition: 0.5s;
    width: 40px;
    height: 40px;
}

.gmail:hover {
    color: #c71610;
    transition: 0.5s;
}

@media (max-width: 425px) {
    .nav {
        justify-content: space-evenly;
    }

    .name {
        font-size: 20px;
        margin: 0px;
    }

    .github {
        width: 25px;
        height: 25px;
        padding: 0px;
    }

    .linkedin {
        width: 25px;
        height: 25px;
        padding: 0px;
    }

    .gmail {
        width: 25px;
        height: 25px;
        padding: 0px;
    }

    .elements {
        margin-right: 0px;
    }

    .elements a {
        display: flex;
    }
}