.contact {
    height: 60vh;
    background: rgb(75, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.title {
    border-bottom: solid rgb(255, 139, 139) 5px;
    font-size: 40px;
    margin-bottom: 10px;
    width: fit-content;
}

.header {
    width: 40%;
    display: flex;
    margin-top: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.info {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.label {
    width: 40%;
    text-align: left;
    font-size: 21px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.labelMessage {
    width: 40%;
    text-align: left;
    font-size: 21px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.input {
    font-size: 15px;
    border: none;
    border: solid 2px rgb(0, 255, 0);
    padding: 3px;
    border-radius: 20px;
}

.inputError {
    font-size: 15px;
    border: none;
    border: solid 2px rgb(255, 0, 0);
    padding: 3px;
    border-radius: 25px;
}

.mensaje {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.area {
    width: 40%;
    height: 200px;
    border-radius: 0px;
    font-size: 15px;
    border: solid 2px rgb(0, 255, 0);
}

.areaError {
    width: 40%;
    height: 200px;
    border: solid red 2px;
    border-radius: 0px;
    border-radius: 10px;
}

.button {
    margin-top: 20px;
    display: flex;
    width: 40%;
}

.error {
    color: rgb(255, 0, 0);
    width: fit-content;
    margin-top: 10px;
}

.errorDisabled {
    margin-top: 5px;
    visibility: hidden;
    margin-bottom: 15px;
}

.errorMessageDisabled {
    margin-top: 10px;
    visibility: hidden;
    margin-bottom: 0px;
}

.errorMessage {
    width: 40%;
    text-align: left;
    margin-top: 10px;
    /* margin-bottom: 20px; */
}

.enviar {
    font-size: 17px;
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(139, 255, 139);
    border: none;
    font-weight: bold;
    color: black;
    box-shadow: 0 -5px rgb(0, 128, 0);
    width: 80px;
}

.enviar:hover {
    box-shadow: 0 -3px rgb(0, 128, 0);
    cursor: pointer;
}

.enviar:active {
    box-shadow: 0 0px rgb(0, 128, 0);
    cursor: pointer;
}

.enviar:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    box-shadow: 0 0px rgb(0, 128, 0);
    background-color: rgb(255, 139, 139);
    margin-top: 0px;
}

.top {
    position: absolute;
    right: 20px;
    top: 352vh;
}

@media (max-width: 768px) {
    .contact {
        height: 65vh;
        flex-direction: column;
        justify-content: center;
    }

    .header {
        width: fit-content;
        margin: 15px 0px;
    }

    .form {
        height: auto;
    }

    .info {
        width: fit-content;
        margin-bottom: 0px;
        flex-direction: column;
    }

    .error {
        margin-top: 5px;
        margin-bottom: 15px;
    }

    /* .info div {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    } */

    /* .label {
        width: 86px;
    } */

    /* .labelMessage {
        width: 287px;
    } */

    /* .input {
        width: 180px;
    } */

    /* .inputError {
        width: 180px;
    } */

    .mensaje {
        width: 287px;
        align-items: flex-start;
    }

    .area {
        width: 287px;
        border-radius: 10px;
        height: 170px;
    }

    .areaError {
        width: 100%;
        height: 170px;
    }

    .errorMessage {
        width: fit-content;
        margin-bottom: 0px;
    }

    /* .enviar {
        margin-top: 0px;
        width: 80px;
    } */

    .error {
        width: 287px;
        text-align: left;
    }

    /* .enviar:disabled {
        margin-top: 0px;
    } */

    .button {
        width: 287px;
        margin-top: 5px;
    }
}

@media (max-width: 425px) {
    .contact {
        height: 80vh;
        flex-direction: column;
        align-items: center;
    }

    .header {
        width: fit-content;
    }

    .form {
        justify-content: flex-start;
    }

    .info {
        width: fit-content;
        margin-bottom: 20px;
        flex-direction: column;
    }

    .info div {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .label {
        width: 86px;
    }

    .labelMessage {
        width: 287px;
    }

    .input {
        width: 180px;
    }

    .inputError {
        width: 180px;
    }

    .area {
        width: 287px;
        border-radius: 10px;
    }

    .areaError {
        width: 287px;
        border-radius: 10px;
    }

    .errorMensaje {
        width: 287px;
        text-align: left;
    }

    .enviar {
        margin-top: 0px;
        width: 80px;
    }

    .error {
        width: 287px;
        text-align: left;
    }

    .errorMessage {
        width: 287px;
    }

    .enviar:disabled {
        margin-top: 0px;
    }

    .button {
        width: 287px;
        margin-top: 5px;
    }
}