.proyects {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    width: 80%;
    margin-bottom: 20px;
}

.title {
    border-bottom: solid rgb(255, 139, 139) 5px;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0px;
    width: fit-content;
    color: white;
}

.proyect {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 20px 0 0 20px;
    width: 80%;
    background-color: rgb(75, 0, 0);
    box-shadow: 12px 0 0 rgb(255, 139, 139);
    height: 165px;
}

.proyect img {
    width: 200px;
    height: 150px;
    margin-left: 10px;
    border-radius: 20px 0 0 20px;
    margin-top: 0;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    color: black;
}

.titleProyect {
    display: flex;
    margin: 0;
    margin-top: 10px;
    color: white;
}

.description {
    margin-top: 10px;
    /* width: 70%; */
    margin-bottom: 0;
    text-align: left;
    display: flex;
    justify-content: center;
    color: white;
}

.pTecno {
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.pTecnoTool {
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}


.text a {
    margin-bottom: 5px;
}

.toolMatch {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

@media (max-width: 768px) {
    .header {
        width: fit-content;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .proyect {
        margin-bottom: 0;
    }

    .info {
        width: auto;
        height: auto;
        box-shadow: none;
        height: 220px;
        margin: 0px 5px 20px 5px;
        border-radius: 20px;
    }

    .proyect img {
        display: none;
    }

    .text {
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .titleProyect {
        size: 20px;
        margin: 0;
    }

    .description {
        width: auto;
        margin-top: 0;
        overflow: auto;
        line-height: 1.6;
    }

    .pTecno {
        font-size: 13px;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 100%;
    }

    .pTecnoTool {
        font-size: 12px;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 100%;
    }
}

@media (max-width: 425px) {
    .proyects {
        height: 100vh;
        width: 425px;
        align-items: center;
    }

    .header {
        width: fit-content;
        margin-bottom: 0px;
    }

    .proyect {
        align-items: center;
    }

    .info {
        width: 95%;
        height: 220px;
        box-shadow: 3px 3px 0 rgb(255, 139, 139);
    }

    .proyect img {
        display: none;
    }

    .text {
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .titleProyect {
        font-size: 20px;
    }

    .description {
        width: 100%;
        margin-top: 5px;
        overflow: auto;
        font-size: 15px;
    }

    .pTecno {
        font-size: 12px;
        margin-left: 0px;
        width: 100%;
        margin-bottom: 0px;
    }

    .pTecnoTool {
        font-size: 12px;
        margin-left: 0px;
        width: 100%;
        margin-bottom: 0px;
    }
}